* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body, html, .mdl-layout, .mdl-layout__content, .page-content {
  color: #424242; }

.mdl-grid p {
  font-size: 120%; }

p, span, h1, h2, h3, h4, figcaption {
  font-family: "Roboto", "Open Sans", sans-serif; }

a {
  text-decoration: none; }

.text--centered {
  text-align: center; }

footer .mdl-button span {
  color: black; }
footer .mdl-button i {
  line-height: 36px;
  color: black; }

.mdl-layout__content {
  height: calc(100% - 64px);
  overflow-x: auto; }
  .mdl-layout__content .page-content {
    height: 100%; }
    .mdl-layout__content .page-content #map {
      height: 50%; }
      .mdl-layout__content .page-content #map #map--wrapper {
        height: 100%; }
        .mdl-layout__content .page-content #map #map--wrapper #map--canvas {
          width: 100%;
          height: 100%;
          border: 1px solid darkgray; }
      .mdl-layout__content .page-content #map .controls-container {
        position: relative; }
        .mdl-layout__content .page-content #map .controls-container .controls {
          padding: 6px;
          margin: 6px 5%;
          width: 90%; }
        .mdl-layout__content .page-content #map .controls-container .destination-via-container div .destination-via {
          width: calc(90% - 50px); }
        .mdl-layout__content .page-content #map .controls-container .arrow {
          position: relative;
          left: calc(90% / 2);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          margin: 8px 0 8px 0;
          color: #5b5b5b; }
          .mdl-layout__content .page-content #map .controls-container .arrow:hover {
            cursor: default; }
        .mdl-layout__content .page-content #map .controls-container button.search {
          position: relative;
          left: calc(90% / 2);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          margin: 8px 0 8px 0; }
    .mdl-layout__content .page-content #drives {
      width: 100%; }
    .mdl-layout__content .page-content .drive {
      background-color: #F5F5F5; }
      .mdl-layout__content .page-content .drive .mdl-card__title {
        color: black;
        border-bottom: 1px solid #5b5b5b; }
        .mdl-layout__content .page-content .drive .mdl-card__title div {
          font-size: 1.5rem; }
      .mdl-layout__content .page-content .drive .drive__date--departure i, .mdl-layout__content .page-content .drive .drive__author i, .mdl-layout__content .page-content .drive .drive__mail i, .mdl-layout__content .page-content .drive .drive__phone i, .mdl-layout__content .page-content .drive .drive__date--departure-time i {
        vertical-align: middle; }

.green {
  background: #00E676; }
  .green:hover {
    background: #00b35c; }

.red {
  background: #D50000; }
  .red:hover {
    background: #a20000; }

.disabled {
  pointer-events: none; }

.hide {
  display: none; }

/*# sourceMappingURL=index.css.map */
