@import "base";
@import "mixins";

$green: #00E676;
$red: #D50000;
$searchBarWidth: 90%;
$gray: #5b5b5b;
$lightgray: #E0E0E0;

.mdl-layout__content {
  height: calc(100% - 64px);
  overflow-x: auto;
  .page-content {
    height: 100%;
    #map {
      height: 50%;
      #map--wrapper {
        height: 100%;
        #map--canvas {
          width: 100%;
          height: 100%;
          border: 1px solid darkgray;
        }
      }
      .controls-container {
        position: relative;
        .controls {
          padding: 6px;
          margin: 6px 5%;
          width: $searchBarWidth;
        }
        .destination-via-container {
          div {
            .destination-via {
              width: calc(#{$searchBarWidth} - 50px);
            }
          }
        }
        .arrow {
          position: relative;
          left: calc(#{$searchBarWidth} / 2);
          @include transform(translateX(-50%));
          margin: 8px 0 8px 0;
          color: $gray;
          &:hover {
            cursor: default;
          }
        }
        button.search {
          position: relative;
          left: calc(#{$searchBarWidth} / 2);
          @include transform(translateX(-50%));
          margin: 8px 0 8px 0;
        }
      }
    }
    #drives {
      width: 100%;
      .drive {
        background-color: #F5F5F5;
        &.editing {
          @include box-shadow(0, 0, 10px, rgba(255,110,64,1));
        }
        .mdl-card__title {
          color: black;
          border-bottom: 1px solid $gray;
          div {
            font-size: 1.5rem;
          }
        }
        div.drive__route--to, div.drive__route--via {
          margin-left: 0;
        }
        div.drive__route--to {
          position: relative;
          top: -38px;
        }
        div.drive__route--via {
          position: relative;
          top: -24px;
          padding: 6px 0;
        }
        .addButtonContainer {
          padding-bottom: 8px;
          .addStopButton {
            vertical-align: middle;
          }
        }

        i {
          vertical-align: middle;
          width: 24px;
          height: 24px;
        }
        .mdl-textfield__input {
          font-size: 85%;
          width: 89%;
          display: inline;
          color: $textcolor;
        }
        .mdl-textfield__label {
          margin-left: 28px;
        }
        .drive__description {
          .mdl-textfield__input {
            color: $textcolor;
            width: 100%;
          }
        }
        // .mdl-textfield__input {
        //   width: 90%;
        //   display: inline;
        // }
        // .mdl-textfield {
        //   height: 100%;
        //   padding: 0;
        //   textarea {
        //     color: $textcolor;
        //   }
        // }
        .drive--route__stop, .drive__route--to {
          margin-left: 12px;
        }
      }
    }
  }
}

.button__add-card {
  position: fixed;
  right: 32px;
  bottom: 32px;
  padding-top: 32px;
  margin-bottom: 0;
  z-index: 998;
  @include transform(translateZ(0)); // fixes strange Chrome bug: http://stackoverflow.com/questions/11258877/fixed-element-disappears-in-chrome
}

.green {
  background: $green;
  &:hover {
    background: darken($green, 10%);
  }
}

.red {
  background: $red;
  &:hover {
    background: darken($red, 10%);
  }
}

.disabled {
  pointer-events: none;
}

.hide {
  display: none;
}
