@import "base";
@import "mixins";

$green: #00E676;
$red: #D50000;
$searchBarWidth: 90%;
$gray: gray;

.mdl-layout__content {
  height: calc(100% - 64px);
  overflow-x: auto;
  .page-content {
    height: 100%;
    .map-grid {
      height: 50%;
      #map--wrapper {
        height: 100%;
        #map--canvas {
          width: 100%;
          height: 100%;
          border: 1px solid darkgray;
        }
      }
      .controls-container {
        position: relative;
        .controls {
          padding: 6px;
          margin: 6px 5%;
          width: $searchBarWidth;
        }
        .arrow {
          position: relative;
          left: calc(#{$searchBarWidth} / 2);
          @include transform(translateX(-50%));
          margin: 8px 0 8px 0;
          color: $gray;
          &:hover {
            cursor: default;
          }
        }
        button {
          position: relative;
          left: calc(#{$searchBarWidth} / 2);
          @include transform(translateX(-50%));
          margin: 8px 0 8px 0;
        }
      }
    }
    #drives-table {
      width: 100%;
      #drives-table--body {
        tr {
          &.disabled {
            background: darken(white, 2%);
          }
          td {
            input {
              background: white;
              &:disabled {
                border: none;
                background: transparent;
              }
              &.missing {
                border: 1px solid red;
              }
            }
            .editButton, .cancelButton {
              background: darken(white, 10%);
              &:hover {
                background: darken(white, 20%);
              }
            }
            .doneButton, .addButton {
              background: $green;
              &:hover {
                background: darken($green, 10%);
              }
            }
            .deleteButton {
              background: $red;
              &:hover {
                background: darken($red, 10%);
              }
            }
          }
        }
      }
    }
  }
}

.green {
  background: $green;
  &:hover {
    background: darken($green, 10%);
  }
}

.red {
  background: $red;
  &:hover {
    background: darken($red, 10%);
  }
}

.disabled {
  pointer-events: none;
}

.hide {
  display: none;
}
