@import "base";
@import "mixins";

$green: #00E676;
$red: #D50000;


.mdl-layout__content {
  height: calc(100% - 64px);
  overflow-x: auto;
  .page-content {
    height: 100%;
    .map-grid {
      height: 50%;
      #map--wrapper {
        height: 100%;
        #map--canvas {
          width: 100%;
          height: 100%;
          border: 1px solid darkgray;
        }
      }
    }
    #drives-table {
      width: 100%;
      #drives-table--body {
        tr {
          &.disabled {
            background: darken(white, 2%);
          }
          td {
            input {
              background: white;
              &:disabled {
                border: none;
                background: transparent;
              }
            }
            .editButton, .cancelButton {
              background: darken(white, 10%);
              &:hover {
                background: darken(white, 20%);
              }
            }
            .doneButton {
              background: $green;
              &:hover {
                background: darken($green, 10%);
              }
            }
            .deleteButton {
              background: $red;
              &:hover {
                background: darken($red, 10%);
              }
            }
          }
        }
      }
    }
  }
}

.green {
  background: $green;
  &:hover {
    background: darken($green, 10%);
  }
}

.red {
  background: $red;
  &:hover {
    background: darken($red, 10%);
  }
}

.disabled {
  pointer-events: none;
}

.hide {
  display: none;
}
