@import "base";
@import "mixins";

$green: #00E676;
$red: #D50000;
$searchBarWidth: 90%;
$gray: #5b5b5b;
$lightgray: #E0E0E0;

.mdl-layout__content {
  height: calc(100% - 64px);
  overflow-x: auto;
  .page-content {
    height: 100%;
    #map {
      height: 50%;
      #map--wrapper {
        height: 100%;
        #map--canvas {
          width: 100%;
          height: 100%;
          border: 1px solid darkgray;
        }
      }
      .controls-container {
        position: relative;
        .controls {
          padding: 6px;
          margin: 6px 5%;
          width: $searchBarWidth;
        }
        .destination-via-container {
          div {
            .destination-via {
              width: calc(#{$searchBarWidth} - 50px);
            }
          }
        }
        .arrow {
          position: relative;
          left: calc(#{$searchBarWidth} / 2);
          @include transform(translateX(-50%));
          margin: 8px 0 8px 0;
          color: $gray;
          &:hover {
            cursor: default;
          }
        }
        button.search {
          position: relative;
          left: calc(#{$searchBarWidth} / 2);
          @include transform(translateX(-50%));
          margin: 8px 0 8px 0;
        }
      }
    }
    #drives {
      width: 100%;
    }
    .drive {
      background-color: #F5F5F5;
      .mdl-card__title {
        color: black;
        border-bottom: 1px solid $gray;
        div {
          font-size: 1.5rem;
        }
      }
      .drive__date--departure, .drive__author, .drive__mail, .drive__phone, .drive__date--departure-time {
        i {
          vertical-align: middle;
        }
      }
    }
  }
}

.green {
  background: $green;
  &:hover {
    background: darken($green, 10%);
  }
}

.red {
  background: $red;
  &:hover {
    background: darken($red, 10%);
  }
}

.disabled {
  pointer-events: none;
}

.hide {
  display: none;
}
