<!doctype html>
<html>
  <head>
    <script src="jquery-3.1.0.min.js"></script>
    <title>Slow Food Mitfahrzentrale</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MDL + MDL Icons -->
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Slow Food Mitfahrzentrale</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="http://www.slowfood.de/">Slow Food</a>
          <a class="mdl-navigation__link" href="http://slowfoodyouth.de/">Slow Food Youth</a>
        </nav>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="mailto:sebastian@slowfoodyouthh.de">Fehler melden</a>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div id="map" class="mdl-grid mdl-grid--no-spacing">
          <div id="map--wrapper" class="mdl-cell mdl-cell--12-col">
            <div id="map--canvas" class="mdl-shadow--4dp"></div>
          </div>
          <!-- <div class="controls-container mdl-cell mdl-cell--2-col">
            <input id="origin-input" class="controls" type="text" placeholder="Von"/>
            <br>
            <i class="arrow material-icons">arrow_downward</i>
            <br>
            <div class="destination-via-container">
              <input id="destination-via" class="destination-via controls" type="text" placeholder="Über"/>
            </div>
            <i class="arrow material-icons">arrow_downward</i>
            <br>
            <input id="destination-input" class="controls" type="text" placeholder="Nach"/>
            <br>
            <i class="arrow material-icons">arrow_downward</i>
            <br>
            <button id="search-button" class="search mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">search</i>
            </button>
          </div> -->
        </div>
        <div id="drives" class="mdl-grid">
          <!-- Filled programmatically. -->
        </div>
      </div>

      <button id='addCardButton' class='button__add-card mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored'>
        <i class='material-icons'>add</i>
      </button>
      <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
    </main>
  </div>

  <script src="moment.js"></script>
  <script src="script.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh-HSlsUoTcB_hJD5D-gsVOxoQg_APtVY&callback=initMap&libraries=places&language=de&region=DE" async defer></script>
  </body>
</html>
